div.leaflet{
  border: 2px solid #F15A22;
  border-radius: 13px;
  width: 99% !important;
  height: 98% !important;
}

html{
  border: 0px;
}

.popup_edicao {
    line-height: initial;
    margin: 0px;
    padding: 0px;
    max-width: 200px;
    font-family: Montserrat;
}

.popup_edicao>h3{
  margin-bottom: -6px;
}
.popup_edicao>p{
  margin-bottom: 2px;
}

.popup_edicao>button {
    border: solid 1px #58B3A650;
    border-radius: 7px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 8px;
    padding-left: 8px;
    font-family: 'Montserrat';
    background: #58B3A6;
    color: white;
}

.popup_edicao>button:hover{
  cursor: pointer;
}
