.grid{
    display:grid;
    grid-template-columns: repeat(4, 90px);
    gap:28px 6px;
    align-items:start;
    justify-content:center;
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
  }

  .kpi{ text-align:center; }
  .lbl{
    margin-top:8px; font-size:12px; color:#111; line-height:1.05;
    position: relative;
    z-index:50;
    font-family: Montserrat;
    padding-top: 70px;
    margin-left: -6px;
    margin-right: -6px;
  }
  .title{ display:flex; align-items:center; justify-content:center; }
  .lbl-strong{ font-weight:700; color:#1f2a7a; font-size:12px; line-height:1.15; }

  /* Donut */
  .donut{
    width:78px;
    height:78px;
    margin:0 auto;
    border-radius:50%;
    position:relative;

    /* anel + “trilho” */
    background:
      conic-gradient(var(--c) calc(var(--p) * 1%), #ffffff 0);
  }

  /* furo do donut */
  .donut::after{
    content:"";
    position:absolute;
    inset:10px;               /* espessura do anel */
    background:#F15A22;          /* cor do miolo */
    border-radius:50%;
    border: solid white 2px;
  }

  /* texto central */
  .donut > span{
    position:absolute;
    inset:0;
    display:grid;
    place-items:center;
    font-weight:700;
    font-size:14px;
    color:#111;
    z-index:1;
  }
  
  
  .tooltip {
    position: fixed;
    font-family: Montserrat;
    padding: 6px 10px;
    background: #F15A22;
    color: #fff;
    font-size: 12px;
    border-radius: 4px;
    pointer-events: none;
    opacity: 0;
    transform: translate(-50%, -120%);
    transition: opacity 0.15s ease;
    z-index: 9999;
    white-space: nowrap;
  }